.weather-app-wrapper {
  max-width: 400px;
  margin:5px auto;
}
.weather-app {
  min-height: 100vh;
  background-color:#FFF8F3;
  padding: 8px;
  border: 1.5px solid rgb(240, 240, 240);
  border-radius: 10px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  border: 0.8px solid rgb(179, 175, 175);
  border-radius: 100px;
  margin-bottom: 15px;
}

.city-input {
  flex-grow: 1;
  border:none;
  background-color: transparent;
  padding:0.5rem 0 0.75rem 0.75rem;
  outline:none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  color: rgb(135,135,135);
}

button{
  min-width:48px;
  min-height:48px;
  color:#666a75;
  border:0.5px solid rgb(255, 255, 255);
  border-radius: 60px;
  background-color: transparent;
}

i {
  font-size:1.6rem;
}

form:hover {
  box-shadow: 1px 2px 3px rgb(167, 166, 166);
}

.date{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding:8px;
  margin:0;
  color: rgb(122, 119, 119);
}

h1 {
  margin:30px auto;
  text-align: center;
  font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  color:#43464e;
  line-height:35px;
  margin-bottom:10px;
}

.weather-description {
  font-size: 20px;
  text-transform: capitalize;
  opacity:0.8;
}

h2 {
  font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color:#1C6DD0;
  margin-bottom: 20px;
}

.temperature{
  font-size: 65px;
  vertical-align:middle;
}

.temperature-icon {
  position:relative;
  font-size:16px;
  top:-30px;
}

.active {
  color:#181a1f;
  cursor:default;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.weather-details{
margin-left: 12px;
margin-right:12px;
}

.feels-like-temp, .humidity-level, .UV-index, .wind-speed {
margin-bottom:15px;
padding:5px;
background-color: transparent;
border-radius: 10px;
border:1px solid rgb(179, 175, 175);
box-shadow:1px 1px 1.5px rgb(167, 166, 166) ;
font-size:16px;
text-align: center;
font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #575a63;
line-height: 30px;
}

.forecast-header {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;
  font-size: 14px;
  color:#82858a;
  margin-left:5px;
}

hr {
  margin:5px auto;
}

h3 {
  text-align: center;
  font-size:18px;
  line-height: 25px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #43464e;
  margin-top:20px;
}

.weather-forecast-date {
  font-size:13px;
}

.weather-forecast-max, .weather-forecast-min {
  font-size:13px;
}

.weather-forecast-min {
  opacity:0.6;
}