.weather-app-wrapper {
  max-width: 400px;
  margin:10px auto;
}
.weather-app {
  min-height: 100vh;
  background-color:#FFF8F3;
  padding: 8px;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 10px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  border: 0.8px solid gray;
  border-radius: 100px;
  margin-bottom: 15px;
}

.city-input {
  flex-grow: 1;
  border:none;
  background-color: transparent;
  padding:0.5rem 0 0.75rem 0.75rem;
  outline:none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  color: rgb(135,135,135);
}

button{
  min-width:48px;
  min-height:48px;
  color:#666a75;
  border:0.5px solid rgb(255, 255, 255);
  border-radius: 60px;
  background-color: transparent;
}

i {
  font-size:1.6rem;
}

form:hover {
  box-shadow: 1px 2px 3px rgb(167, 166, 166);
}

.date{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding:8px;
  margin:0;
  color: rgb(122, 119, 119);
}

h1 {
  margin:30px auto;
  text-align: center;
  font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  color:#43464e;
  line-height:35px;
  margin-bottom:10px;
}

.weather-description {
  font-size: 20px;
}

.weather-widget {
  padding:8px;
  vertical-align:middle;
}

h2 {
  font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color:#1C6DD0;
}

.temperature{
  font-size: 60px;
}

.temperature-icon {
  position:relative;
  font-size:16px;
  top:-34px;
}

a {
  text-decoration: none;
}

.weather-details{
  font-size:15px;
  text-align: center;
  line-height:50px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #43464e;
  margin-top:20px;
}


h3 {
  font-size: 13px;
  text-align: center;
  line-height: 35px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #43464e;
}
